<div class="timeline-item">
    <div class="timeline-left">
        <a class="timeline-icon icon-lg" href="<%- url_for(post.path) %>"></a>
    </div>
    <div class="timeline-content stk-incident-card">
        <div class="card bg-gray">
            <div class="card-header">
                <p class="card-subtitle text-gray mb-1 h6"><%= date(post.updated, 'MMMM DD, YYYY') %></p>
                <p class="card-title h4 mb-1">
                    <% if (post.degree === 1) { %>
                        <a href="<%- url_for(post.path) %>" style="color: #5755d9"><%= post.title %></a>
                    <% } else if (post.degree === 2) { %>
                        <a href="<%- url_for(post.path) %>" style="color: #ffb700"><%= post.title %></a>
                    <% } else if (post.degree === 3) { %>
                        <a href="<%- url_for(post.path) %>" style="color: #e85600"><%= post.title %></a>
                    <% } else { %>
                        <a href="<%- url_for(post.path) %>" style="color: #50596c"><%= post.title %></a>
                    <% } %>
                    <span class="card-subtitle mb-2 h6"> - <%= post.stage %></span>
                </p>
            </div>
            <div class="divider my-0"></div>
            <div class="card-body">
                <%- post.content %>
            </div>
        </div>
    </div>
</div>
